<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampArena</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../routes/index.js"></script>
</head>
<body>
    
      <!--navbar start-->
        <nav class="navbar navbar-expand-lg navbar-light " style="border-bottom:black 3px solid ;background-color:Tomato">
            <div class="container-fluid">
            <!--  <img src="../image/Comp Arena-1 (1) (1).png" class="rounded-circle" alt="..." style="height: 50px; width: 50px;">-->
              
              <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active p-2 m-2" aria-current="page" href="#" style="color:white;font-weight: bold;">HOME</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active p-2 m-2 " aria-current="page" href="#" style="color:white;font-weight: bold;">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active p-2 m-2 " aria-current="page" href="#" style="color:white;font-weight: bold;">CONTACT US</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success me-2" style="color: white;" type="submit">Search</button>
                  <button type="button" class="btn btn-primary ">LogIn</button>   
                </form>

                
              </div>
              
            </div>
          </nav>
  

       
        
     
        
        
        <div class="container d-flex flex-row mb-5 mt-5" style="width:50%">
    <form action="/filter" method="post" style="display: flex;">
        <select class="form-select form-select-sm me-4" name="part1" aria-label=".form-select-sm example ">
          <option selected>Region</option>
            <option name="Dhaka" value="Dhaka">Dhaka</option>
            <option value="Barishal">Barishal</option>
            <option value="Rangpur">Rangpur</option>
            <option value="Sylhet">Sylhet</option>
            <option value="Chattogram">Chattogram</option>
            <option value="Khulna">Khulna</option>
            <option value="Mymensingh">Mymensingh</option>
            <option value="Rajshahi">Rajshahi</option>
          </select>
          <select class="form-select form-select-sm me-4" name="part2" aria-label=".form-select-sm example">
            <option selected>Type</option>
            <option value="Math">Math</option>
            <option value="Physics">Physics</option>
            <option value="Programming">Programming </option>
            <option value="Robotics">Robotics </option>
            <option value="Literature">Literature</option>
          </select>
          <select class="form-select form-select-sm me-4" id="deadline" aria-label=".form-select-sm example">
            <option selected>Deadline</option>
            <option value="1">On Going</option>
            <option value="2">1 week</option>
            <option value="3">10 Days</option>
            <option value="1">15 Days</option>
            <option value="2">30 Days</option>
            <option value="3">2 months</option>
            
          </select>
          <button type="submit" class="btn btn-primary"   onclick="mybutton();">Explore</button>
      </div>
    </form>
        <!-- card part start-->

            <div class="container d-flex flex-wrap" >
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <%  eventList.forEach(event => { %>
                    <div class="col">
                      <div class="card h-100">
                        <img src="image/math.jpg" class=" img-thumbnail" alt="..." style=" height:250px  ">
                        <div class="card-body">
                          <h5 class="card-title"><%= event.eventName1 %></h5>
                          <p class="card-text"><%= event.eventDetails1
                            %></p>
                            <p class="card-text" style="font-weight:bold;">Deadline: <%= event.
                              regDeadline1
                              
                              %></p>
                        </div>
                      </div>
                    </div>
                  <% }); %>
                  </div>
              
            </div>
            


          <!--footer start-->
          
          
        

    <!-- Footer -->
    <footer class="text-white mt-4 p-3 " style="border-top:black 3px solid ;background-color:Tomato; text-align: center;"> 
             
              <p >© 2022 Copyright: CampArena.com</p>
             
               
    </footer>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> 
     
</body>
</html>